.saegus-lp-tile-image {
  position: relative;
}


:host ::ng-deep {
  .saegus-lp-circle-img {
    position: absolute;
    top: -3em;
    left: calc(50% - 3em);
    -webkit-box-shadow: 2px 3px 6px 0px rgba(181, 177, 181, 1);
    -moz-box-shadow: 2px 3px 6px 0px rgba(181, 177, 181, 1);
    box-shadow: 2px 3px 6px 0px rgba(181, 177, 181, 1);
  }
  .saegus-lp-tile {
    margin-left: 5em;
    padding-left: 8em ;
    padding-right: 8em ;
  }
}