<div class="saegus-app-container saegus-app-container-row col-12 saegus-app-container-align-items-center myt"
  *ngFor="let p of elements; let i = index">
  <div class="col-4" >
    <app-tile [class]="point.displayAs" *ngFor="let point of p.left; let j = index">
      <div class="col-12 saegus-app-text-justify-center">
        <h3 class="saegus-lp-body--contrast"> {{ point.title }} </h3>
        <ol *ngIf="point.type == 'list'">
          <li *ngFor="let x of point.values; let k = index">
            {{ x }}
          </li>
        </ol>
      </div>
    </app-tile>
  </div>
  <div class="col-4 test">
    <div></div>
  </div>
  <div class="col-4" >
    <app-tile [class]="point.displayAs" *ngFor="let point of p.right; let l = index">
      <div class="col-12 saegus-app-text-justify-center">
        <h3 class="saegus-lp-body--contrast"> {{ point.title }} </h3>
        <ol *ngIf="point.type == 'list'">
          <li *ngFor="let x of point.values; let m = index">
            {{ x }}
          </li>
        </ol>
      </div>
    </app-tile>
  </div>
</div>