@import '../../../../scss/colors.scss';

:host ::ng-deep .saegus-lp-tile {

  .saegus-lp-tile-logo {
    height: 3em;
  }
  
  position: relative;
  margin: 1em 0;
  padding: .5em !important;

  &:before,
  &:after {
    content: "";
    position: absolute;
  }

  &--timeline-right:before {
    width: 1em;
    height: 1em;
    background-color: $primary-color;
    border-radius: 100%;
    top: 50%;
    left: calc(-50% - .5em);
    animation: pulseTimeline 3s reverse infinite;
    opacity: 0;
  }

  &--timeline-right:after {
    width: 2em;
    height: 3px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: $primary-color;
    top: calc(50% + 0.4em);
    left: calc(-50% - .5em );
    opacity: 0;
  }

  &--timeline-left:before {
    width: 1em;
    height: 1em;
    background-color: $primary-color;
    border-radius: 100%;
    top: 50%;
    right: calc(-50% - .5em);
    animation: pulseTimeline 3s reverse infinite;
    opacity: 0;
  }

  &--timeline-left:after {
    width: 2em;
    height: 3px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: $primary-color;
    top: calc(50% + 0.4em);
    right: calc(-50% - .5em );
    opacity: 0;
  }
}

.saegus-timeline {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -20px;
    bottom: -20px;
    width: 1px;
    border-left: dashed $primary-color;
    transform: translateX(-2px);
  }
}

@keyframes pulseTimeline {
  0% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 93, 123, 0);
    box-shadow: 0 0 0 10px rgba(24, 44, 65, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 93, 123, 0.8);
    box-shadow: 0 0 0 0 rgba(24, 44, 65, 0.8);
  }
}

.cd-timeline--hidden {
  visibility: hidden;
}

.cd-timeline--bounce-in {
  animation: cd-bounce-1 0.6s;
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

:host ::ng-deep {
  .cd-timeline--bounce-in .saegus-lp-tile--timeline-left::before,
  .cd-timeline--bounce-in .saegus-lp-tile--timeline-left::after,
  .cd-timeline--bounce-in .saegus-lp-tile--timeline-right::before,
  .cd-timeline--bounce-in .saegus-lp-tile--timeline-right::after 
  {
    transition: .15s ease-in-out;
    transition-delay: .3s;
    opacity: 1 !important;
  }
}