<div class="saegus-app-container saegus-app-container-row col-12 saegus-app-container-align-items-center saegus-timeline">
  <div *ngFor="let p of elements; let i = index"
    class="saegus-app-container saegus-app-container-row col-12 saegus-app-container-align-items-center">
    <div 
      [ngClass]="{
        'col-6': true,
        'saegus-lp-timeline-left': true,
        'saegus-app-container-column': true,
        'saegus-app-container-align-items-center': true,
        'saegus-app-container': true
      }">
      <div class="col-6 saegus-lp-padding-mobile">
        <div *ngFor="let point of p.left; let j = index" class="cd-timeline__block cd-timeline--hidden">
          <app-tile [class]="point.displayAs" [position]="'timeline-left'" >
            <div
              class=" col-12 saegus-app-text-justify-center saegus-app-container-justify-center">
              <h3 class="saegus-lp-body--contrast" [innerHTML]="point.title | translate"></h3>
              <img class="saegus-lp-tile-logo" [src]="point.logo" *ngIf="point.logo" />
              <ol *ngIf="point.type == 'list'">
                <li *ngFor="let x of point.values; let k = index">
                  <span [innerHTML]="x | translate"></span>
                </li>
              </ol>
            </div>
          </app-tile>
        </div>
      </div>
    </div>
    <div 
      [ngClass]="{
      'col-6': true,
      'saegus-lp-timeline-right': true,
      'saegus-app-container-column': true,
      'saegus-app-container-align-items-center': true,
      'saegus-app-container': true
      }">
      <div class="col-6 saegus-lp-padding-mobile">
        <div *ngFor="let point of p.right; let j = index" class="cd-timeline__block cd-timeline--hidden">
          <app-tile 
            [class]="point.displayAs" 
            [position]="'timeline-right'">
            <div class="col-12 saegus-app-text-justify-center saegus-app-container-justify-center">
              <h3 class="saegus-lp-body--contrast" [innerHTML]="point.title | translate"></h3>
              <img class="saegus-lp-tile-logo" [src]="point.logo" *ngIf="point.logo" />
              <ol *ngIf="point.type == 'list'">
                <li *ngFor="let x of point.values; let m = index">
                  <span [innerHTML]="x | translate"></span>
                </li>
              </ol>
            </div>
          </app-tile>
        </div>
      </div>
    </div>
  </div>
</div>