@import '../../../../scss/colors.scss';

.saegus-lp-tile {
  -webkit-box-shadow: 2px 3px 6px 0px rgba(181, 177, 181, 1);
  -moz-box-shadow: 2px 3px 6px 0px rgba(181, 177, 181, 1);
  box-shadow: 2px 3px 6px 0px rgba(181, 177, 181, 1);
  border-radius: .5em;
  padding: 2em;

  &--primary {
    background: $primary-bg-color;
  }

  &--secondary {
    background: $secondary-bg-color;
  }

  &--third {
    background: $third-bg-color;
  }
}