<div class="saegus-lp-container">
  <app-layout [class]="'primary'">
    <div class="saegus-lp-header-logo saegus-app-container saegus-app-container-row col-12 saegus-app-justify-start">
      <div class="saegus-lp-header-logo--container">
        <div class="logo-header" 
          aria-label="il-logo" 
          [inlineSVG]="environnement.production ? '/assets/images/IL-BLANC.svg' : '/../assets/images/IL-BLANC.svg'">
        </div>
        <small>
          <i 
            class="saegus-lp-body--contrast"
            [innerHTML]="'header.logo.baseline' | translate"
          ></i>
        </small>
      </div>
    </div>
    <div class="saegus-lp-lg-spacer"></div>
    <div class="saegus-app-container saegus-app-container-row col-12">
      <div class="saegus-lp-body saegus-lp-body--contrast col-6 saegus-app-padding">
        <h2 [innerHTML]="'header.left.title' | translate"></h2>
        <p [innerHTML]="'header.left.paragraph' | translate"></p>
        <div class="saegus-lp-md-spacer"></div>
        <div class="">
          <app-button [class]="'secondary'" (click)="scroll(contactForm)">
            <span [innerHTML]="'header.left.cta' | translate"></span>
          </app-button>
        </div>

      </div>
      <div class="saegus-lp-body saegus-lp-body--contrast col-6 saegus-app-padding saegus-lp-no-padding">
        <div class="saegus-lp-svg" 
          aria-label="il-logo" 
          [inlineSVG]="environnement.production ? '/assets/images/illustration_1.svg' : '/../assets/images/illustration_1.svg'"></div>
      </div>
    </div>
  </app-layout>
  <app-layout [class]="'secondary'">
    <div class="saegus-app-container saegus-app-container-row">
      <div class="saegus-lp-body col-6 saegus-app-padding">
        <h2 [innerHTML]="'layer#1.left.title' | translate"></h2>
        <span>
          <p [innerHTML]="'layer#1.left.paragraph' | translate "></p>
        </span>
      </div>
      <div class="saegus-lp-body col-6 saegus-app-padding">
        <h2 [innerHTML]="'layer#1.right.title' | translate"></h2>
        <span>
          <p [innerHTML]="'layer#1.right.paragraph' | translate "></p>
        </span>
      </div>
    </div>
  </app-layout>
  <app-layout [class]="'third'">
    <div class="saegus-app-container saegus-app-container-column">
      <h2 class="saegus-app-text-justify-center col-12" [innerHTML]="'layer#2.title' | translate"></h2>
      <div
        class="saegus-app-container saegus-app-container-row col-12 saegus-app-container-justify-center saegus-lp-testimonials">
          <div 
            class="col-4 saegus-app-container" 
            *ngFor="let testimonial of testimonials">
            <app-tile
              [class]="['secondary']"
            >
              <div class="col-12 saegus-app-text-justify-center">
                <div class="saegus-lp-testimonials-container">
                  <div class="saegus-lp-svg saegus-lp-testimonials--quote" 
                    aria-label="il-logo" 
                    [inlineSVG]="environnement.production ? '/assets/images/quote.svg' : '/../assets/images/quote.svg'">
                  </div>
                  <p [innerHTML]="testimonial.value | translate"></p>
                  <div class="saegus-lp-svg saegus-lp-testimonials--quote" 
                    aria-label="il-logo" 
                    [inlineSVG]="environnement.production ? '/assets/images/quote.svg' : '/../assets/images/quote.svg'">
                  </div>
                </div>
              </div>
            </app-tile>
          </div>
      </div>
    </div>
  </app-layout>

  <app-layout [class]="'secondary'">
    <div class="saegus-app-container saegus-app-container-column">
      <h2 class="saegus-app-text-justify-center col-12 saegus-lp-title-spacing" [innerHTML]="'layer#3.title' | translate "></h2>
      <div class="saegus-lp-md-spacer"></div>
      <div
        class="saegus-app-container saegus-app-container-row col-12 saegus-app-text-justify-center">
        <app-tile-image class="['secondary']"
          [src]="environnement.production ? 'assets/images/IMG_4892.JPG' : '/assets/images/IMG_4892.JPG'">
          <p [innerHTML]="'layer#3.paragraph' | translate "></p>
          <app-button [class]="'primary'" (click)="scroll(contactForm)">
            <span [innerHTML]="'layer#3.cta' | translate"></span>
          </app-button>
        </app-tile-image>
      </div>

      <div class="saegus-lp-sm-spacer"></div>

      <h2 class="saegus-app-text-justify-center col-12" [innerHTML]="'layer#4.title' | translate"></h2>
      <div class="saegus-lp-md-spacer"></div>
      <app-timeline [elements]="timeline"></app-timeline>
      <div class="saegus-lp-md-spacer"></div>
      <div class="saegus-app-container col-12 saegus-app-container-justify-center">
        <app-button [class]="'primary'" (click)="scroll(contactForm)">
           <span [innerHTML]="'layer#4.cta' | translate"></span>
        </app-button>
      </div>
    </div>
  </app-layout>

  <app-layout [class]="'third'">
    <div
      class="saegus-app-container saegus-app-container-column col-12 saegus-app-container-align-items-center saegus-lp-special-layout">
      <h2 class="saegus-app-text-justify-center col-12" [innerHTML]="'layer#5.title' | translate"></h2>
      <div class="saegus-app-container saegus-app-container-row">
        <div class="saegus-lp-body col-6 saegus-app-padding saegus-app-container saegus-app-container-column saegus-app-container-align-items-center">
          <img
            class="saegus-lp-special-height_1"
            [src]="environnement.production ? 'assets/images/Foreseeds_Logo.png' : '/assets/images/Foreseeds_Logo.png'" />
          <span>
            <p class="saegus-app-text-justify-center" [innerHTML]="'layer#5.left.paragraph' | translate "></p>
          </span>
          <app-button [class]="'primary'" (click)="scroll(contactForm)">
            <span [innerHTML]="'layer#5.left.cta' | translate"></span>
          </app-button>
        </div>
        <div
          class="saegus-lp-body col-6 saegus-app-padding saegus-app-container saegus-app-container-column saegus-app-container-align-items-center">
          <img
            class="saegus-lp-special-height_2"
            [src]="environnement.production ? 'assets/images/cross.png' : '/assets/images/cross.png'" />
          <div class="saegus-lp-sm-spacer"></div>
          <span>
            <p class="saegus-app-text-justify-center" [innerHTML]="'layer#5.right.paragraph' | translate "></p>
          </span>
        </div>
      </div>
    </div>
  </app-layout>

  <div class="saegus-lp-special-layout">

    <app-layout [class]="'third'">
     <div class="saegus-app-container saegus-app-container-column col-12 saegus-app-container-align-items-center saegus-lp-special-layout">
       <div class="col-10">
         <app-jumbo-tile>
           <div class="saegus-app-container saegus-app-container-column">
             <h2 class="saegus-app-text-justify-center col-12" [innerHTML]="'layer#6.title' | translate"></h2>
             <div class="col-12 saegus-app-container saegus-app-container-row saegus-app-container-align-items-center">
               <div class="col-3">
                 <h4 [innerHTML]="'layer#6.row#1.title' | translate"></h4>
               </div>
               <div class="col-9">
                 <p [innerHTML]="'layer#6.row#1.paragraph' | translate"></p>
               </div>
             </div>
             <div class="saegus-lp-sm-spacer"></div>
             <div class="col-12 saegus-app-container saegus-app-container-row saegus-app-container-align-items-center">
               <div class="col-3">
                 <h4 [innerHTML]="'layer#6.row#2.title' | translate"></h4>
               </div>
               <div
                 class="col-9 saegus-app-container saegus-app-container-row saegus-app-container-justify-space-around saegus-lp-who-are-we saegus-lp-row-to-column-mobile">
                 <div class="saegus-app-container saegus-app-container-column saegus-app-container-align-items-center">
                   <app-circle-img [src]="environnement.production ? 'assets/images/IMG_4892.JPG' : '/assets/images/IMG_4892.JPG'"></app-circle-img>
                   <span class="image-caption">Pierre</span>
                 </div>
                 <div class="saegus-app-container saegus-app-container-column saegus-app-container-align-items-center">
                   <app-circle-img [src]="environnement.production ? 'assets/images/IMG_4853.JPG' : '/assets/images/IMG_4853.JPG'"></app-circle-img>
                   <span class="image-caption">Hadi</span>
                 </div>
                 <div class="saegus-app-container saegus-app-container-column saegus-app-container-align-items-center">
                   <app-circle-img [src]="environnement.production ? 'assets/images/IMG_3532.JPG' : '/assets/images/IMG_3532.JPG'"></app-circle-img>
                   <span class="image-caption">Chloé</span>
                 </div>
               </div>
             </div>
             <div class="saegus-lp-sm-spacer"></div>
             <div class="col-12  saegus-app-container saegus-app-container-row saegus-app-container-align-items-center">
               <div class="col-3">
                 <h4 [innerHTML]="'layer#6.row#3.title' | translate"></h4>
               </div>
               <div class="col-9 saegus-app-container saegus-app-container-row saegus-app-container-justify-space-around saegus-app-container-align-items-center saegus-lp-row-to-column-mobile">
                 <img class="client-image" [src]="environnement.production ? 'assets/images/loreal.png' : '/assets/images/loreal.png'"/>
                 <img class="client-image" [src]="environnement.production ? 'assets/images/orange.png' : '/assets/images/orange.png'"/>
                 <img class="client-image" [src]="environnement.production ? 'assets/images/thales.png' : '/assets/images/thales.png'"/>
               </div>
             </div>
 
           </div>
         </app-jumbo-tile>
       </div>
       
     </div>
    </app-layout>
  </div>

  <app-layout [class]="'secondary'" >
    <div class="saegus-app-container saegus-app-container-column saegus-app-container-align-items-center col-12"
      #contactForm>
        <form class="Form" id="foss-5d1f114cf42087542b380a58"></form>
    </div>
  </app-layout>

   <app-layout [class]="'primary'">
    <div class="saegus-app-container saegus-app-container-column saegus-app-container-align-items-center col-12 saegus-lp-body--contrast">
      <div class="col-2">
        <div class="saegus-lp-svg" 
          aria-label="il-logo" 
          [inlineSVG]="environnement.production ? '/assets/images/IL-BLANC.svg' : '/../assets/images/IL-BLANC.svg'">
        </div>
      </div>
      <h3 [innerHTML]="'layer#7.title' | translate"></h3>
      <small [innerHTML]="'layer#7.paragraph' | translate"></small>
      <div class="saegus-lp-sm-spacer"></div>
      <span [innerHTML]="'layer#7.cta' | translate"></span>
    </div>
   </app-layout>
</div>