@import '../../../scss/colors.scss';

.saegus-lp-header-logo {
  padding: 0 3em;
  &--container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    small {
      margin-top: 1em;
    }
  }
  .logo-header {
    width: 8em;
  }
}
.saegus-lp-testimonials {
  
  p {
    text-align: center;
  }
}

.saegus-lp-testimonials app-tile {
  width: 100%;
}

:host ::ng-deep .saegus-lp-tile {
  margin: 1em;
  .col-12 {
    flex-direction: row;
    display: flex;
    align-items: center;
  }
}

.image-caption {
  margin: 1em 0;
}
:host ::ng-deep .saegus-lp-who-are-we .saegus-lp-circle-img {
  width: 5em;
  height: 5em;
}
.saegus-lp-testimonials-container {
  display: flex;
  width: 100%;
}
.saegus-lp-testimonials--quote {
  width: 5em;
  display: flex;
  &:first-child {
    align-self: flex-start;
  } 
  &:last-child {
    align-self: flex-end;
    transform: rotateZ(180deg);
  }
}

:host ::ng-deep .saegus-lp-testimonials--quote {
  svg {
    fill: $third-color !important;
  }
}

.saegus-lp-special-height_1 {
  height: 5em;
}
.saegus-lp-special-height_2 {
  height: 2em;
  margin-top: 1.6em;
}

.saegus-lp-logo-footer-right {
  position: absolute;
  bottom: -2em;
  right: 0;
  z-index: 9;
  font-weight: bold;
  height: 2em;
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
  }

  .logo-footer {
    height: 2em;
    margin-left: .5em;
  }
}