@import '../../../../scss/colors.scss';

.saegus-lp-button {
  font-family: 'Gilroy';
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-size: 0.8em;
  
  &--primary {
    background-color: $primary-bg-color;
    color: $secondary-color;
    transition: ease-in-out .2s;
    &:hover {
      background-color: $fourth-bg-color;
      color: $secondary-color;
    }
  }
  &--secondary {
    background-color: $secondary-bg-color;
    color: $primary-color;
    transition: ease-in-out .2s;
    &:hover {
      background-color: $fourth-bg-color;
      color: $secondary-color;
    }
  }
  &--third {
    background-color: $third-bg-color;
    color: $primary-color;
    transition: ease-in-out .2s;
    &:hover {
      background-color: $fourth-bg-color;
      color: $secondary-color;
    }
  }
}