.saegus-lp-circle-img {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 10em;
  height: 10em;
  border-radius: 100%;
  border: solid 2px #FFF;
  -webkit-box-shadow: 2px 3px 6px 0px rgba(181, 177, 181, 1);
  -moz-box-shadow: 2px 3px 6px 0px rgba(181, 177, 181, 1);
  box-shadow: 2px 3px 6px 0px rgba(181, 177, 181, 1);
}