// background colors
$primary-bg-color: #182c41;
$secondary-bg-color: #FAFAFA;
$third-bg-color: #F2F2F2;
$fourth-color: #FF7288;


// text-color / common colors 
$primary-color: #192C41;
$secondary-color: #FFF;
$third-color: #FF7288;
$fourth-color: #F2F2F2;