// Mobile (<=400px)

// Mobile (≥400)

@media (max-width: 549px) {
    .col-12 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-11 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-10 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-9 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-8 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-7 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-6 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-5 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-4 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-3 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-2 {
    width: #{(3 * 100 / 12) + '%'}
  };
  .col-1 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .saegus-lp-row-to-column-mobile {
    flex-direction: column !important;
    img {
      margin: 1em 0;
    }
  }
  .saegus-app-justify-start {
    justify-content: center !important;
  }
  .saegus-lp-layout {
    padding: 1em !important;
  }
  
  .saegus-timeline::after {
    left: 0 !important;
  }
  .saegus-lp-title-spacing {
    margin-bottom: 4em;
  }
  .saegus-lp-timeline-right,
  .saegus-lp-timeline-left {
    margin-left: 3em;
  }
  .saegus-lp-tile {
    padding-left: 2em !important;
    padding-right: 2em !important;
  }

  .saegus-lp-tile-image .saegus-lp-tile {
    margin-left: 1em !important;
  }
  .saegus-lp-tile-image .saegus-lp-circle-img {
    top: -5.3em !important;
    left: calc(50% - 4em) !important;
    width: 8em !important;
    height: 8em !important;
  }

  .saegus-lp-tile--timeline-right::after {
    left: -3em !important;
    top: 50% !important;
  }
  .saegus-lp-tile--timeline-left::after {
    left: -3em !important;
    top: 50% !important;
  }
  .saegus-lp-tile--timeline-right::before {
    left: -3.5em !important;
    top: calc(50% - 0.4em) !important;
  }
  .saegus-lp-tile--timeline-left::before {
    left: -3.5em !important;
    top: calc(50% - 0.4em) !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    text-align: center;
  }
  .saegus-app-justify-start {
    justify-content: center !important;
  }

  .saegus-app-padding {
    padding: 2em !important;
  }

}

// Phablet (≥550px) 
@media (min-width: 550px) and (max-width: 749px) {

  .col-12 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-11 {
    width: #{(11 * 100 / 12) + '%'}
  };
  .col-10 {
    width: #{(10 * 100 / 12) + '%'}
  };
  .col-9 {
    width: #{(9 * 100 / 12) + '%'}
  };
  .col-8 {
    width: #{(8 * 100 / 12) + '%'}
  };
  .col-7 {
    width: #{(7 * 100 / 12) + '%'}
  };
  .col-6 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-5 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-4 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-3 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-2 {
    width: #{(3 * 100 / 12) + '%'}
  };
  .col-1 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .saegus-app-justify-start {
    justify-content: center !important;
  }
  .saegus-lp-layout {
    padding: 1em !important;
  }
  
  .saegus-timeline::after {
    left: 0 !important;
  }

  .saegus-lp-timeline-right,
  .saegus-lp-timeline-left {
    margin-left: 3em;
  }

  .saegus-lp-tile--timeline-right::after {
    left: -3em !important;
    top: 50% !important;
  }
  .saegus-lp-tile--timeline-left::after {
    left: -3em !important;
    top: 50% !important;
  }
  .saegus-lp-tile--timeline-right::before {
    left: -3.5em !important;
    top: calc(50% - 0.4em) !important;
  }
  .saegus-lp-tile--timeline-left::before {
    left: -3.5em !important;
    top: calc(50% - 0.4em) !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    text-align: center;
  }
  .saegus-app-justify-start {
    justify-content: center !important;
  }

  .saegus-app-padding {
    padding: 2em !important;
  }
}

// Tablette (≥750px)
@media (min-width: 750px) {
  .col-12 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-11 {
    width: #{(11 * 100 / 12) + '%'}
  };
  .col-10 {
    width: #{(10 * 100 / 12) + '%'}
  };
  .col-9 {
    width: #{(9 * 100 / 12) + '%'}
  };
  .col-8 {
    width: #{(8 * 100 / 12) + '%'}
  };
  .col-7 {
    width: #{(7 * 100 / 12) + '%'}
  };
  .col-6 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-5 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-4 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-3 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-2 {
    width: #{(3 * 100 / 12) + '%'}
  };
  .col-1 {
    width: #{(12 * 100 / 12) + '%'}
  };


  .saegus-app-justify-start {
    justify-content: center !important;
  }


}

// Desktop (≥1000px)
@media (min-width: 1000px) {
  .col-12 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-11 {
    width: #{(11 * 100 / 12) + '%'}
  };
  .col-10 {
    width: #{(10 * 100 / 12) + '%'}
  };
  .col-9 {
    width: #{(9 * 100 / 12) + '%'}
  };
  .col-8 {
    width: #{(8 * 100 / 12) + '%'}
  };
  .col-7 {
    width: #{(7 * 100 / 12) + '%'}
  };
  .col-6 {
    width: #{(6 * 100 / 12) + '%'}
  };
  .col-5 {
    width: #{(5 * 100 / 12) + '%'}
  };
  .col-4 {
    width: #{(4 * 100 / 12) + '%'}
  };
  .col-3 {
    width: #{(3 * 100 / 12) + '%'}
  };
  .col-2 {
    width: #{(2 * 100 / 12) + '%'}
  };
  .col-1 {
    width: #{(1 * 100 / 12) + '%'}
  };
}

// Desktop HD (≥1200px)
@media (min-width: 1200px) {
  .col-12 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-11 {
    width: #{(11 * 100 / 12) + '%'}
  };
  .col-10 {
    width: #{(10 * 100 / 12) + '%'}
  };
  .col-9 {
    width: #{(9 * 100 / 12) + '%'}
  };
  .col-8 {
    width: #{(8 * 100 / 12) + '%'}
  };
  .col-7 {
    width: #{(7 * 100 / 12) + '%'}
  };
  .col-6 {
    width: #{(6 * 100 / 12) + '%'}
  };
  .col-5 {
    width: #{(5 * 100 / 12) + '%'}
  };
  .col-4 {
    width: #{(4 * 100 / 12) + '%'}
  };
  .col-3 {
    width: #{(3 * 100 / 12) + '%'}
  };
  .col-2 {
    width: #{(2 * 100 / 12) + '%'}
  };
  .col-1 {
    width: #{(1 * 100 / 12) + '%'}
  };
}