@media (min-width: 320px) and (max-width: 479px) {
  .col-12 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-11 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-10 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-9 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-8 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-7 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-6 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-5 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-4 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-3 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-2 {
    width: #{(3 * 100 / 12) + '%'}
  };
  .col-1 {
    width: #{(12 * 100 / 12) + '%'}
  };

  // Timeline 
  .saegus-timeline::after {
    left: 0 !important;
  }
  .saegus-lp-tile--timeline-right::after {
    left: -3.5em !important;
    top: 50% !important;
  }
  .saegus-lp-tile--timeline-left::after {
    left: -3.5em !important;
    top: 50% !important;
  }
  .saegus-lp-tile--timeline-right::before {
    left: -3.5em !important;
    top: calc(50% - 0.4em) !important;
  }
  .saegus-lp-tile--timeline-left::before {
    left: -3.5em !important;
    top: calc(50% - 0.4em) !important;
  }
  .saegus-lp-padding-mobile {
    padding-left: 3em;
  }

  // Others
  .saegus-lp-body {
    text-align: center;
    p {
      text-align: center;
    }
  }
  .saegus-lp-layout {
    padding: 3em 3em !important;
  }
  .saegus-app-padding {
    padding: 2em 0em !important;
  }
  .saegus-lp-tile-image {
    .saegus-lp-tile {
      margin: 0 !important;
    }
    .saegus-lp-circle-img {
      left: calc(50% - 3em) !important;
    }
  }
  app-button {
    width: 100%;
    button {
      width: 100%;
    }
  }
  .client-image {
    margin: 1em 0;
  }
  .saegus-lp-row-to-column-mobile {
    flex-direction: column !important;
  }
  .saegus-lp-jumbo-tile {
    padding: 1em !important;
  }
  .saegus-lp-special-layout .saegus-lp-layout {
    padding: .5em !important;
  }

  .saegus-lp-header-logo {
    justify-content: center !important;
  }
  app-tile-image {
    app-button {
      position: absolute;
      bottom: -1.5em;
      left: 1em;
      width: calc(100% - 2em);

      button {
        width: 100%;
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .col-12 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-11 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-10 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-9 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-8 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-7 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-6 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-5 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-4 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-3 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-2 {
    width: #{(3 * 100 / 12) + '%'}
  };
  .col-1 {
    width: #{(12 * 100 / 12) + '%'}
  };

  // Timeline 
  .saegus-timeline::after {
    left: 0 !important;
  }
  .saegus-lp-tile--timeline-right::after {
    left: -3.5em !important;
    top: 50% !important;
  }
  .saegus-lp-tile--timeline-left::after {
    left: -3.5em !important;
    top: 50% !important;
  }
  .saegus-lp-tile--timeline-right::before {
    left: -3.5em !important;
    top: calc(50% - 0.4em) !important;
  }
  .saegus-lp-tile--timeline-left::before {
    left: -3.5em !important;
    top: calc(50% - 0.4em) !important;
  }
  .saegus-lp-padding-mobile {
    padding-left: 3em;
  }

  // Others
  .saegus-lp-body {
    text-align: center;
    p {
      text-align: center;
    }
  }
  .saegus-lp-layout {
    padding: 3em 3em !important;
  }
  .saegus-app-padding {
    padding: 2em 0em !important;
  }
  .saegus-lp-tile-image {
    .saegus-lp-tile {
      margin: 0 !important;
    }
    .saegus-lp-circle-img {
      left: calc(50% - 3em) !important;
    }
  }
  app-button {
    width: 100%;
    button {
      width: 100%;
    }
  }
  .client-image {
    margin: 1em 0;
  }
  .saegus-lp-row-to-column-mobile {
    flex-direction: column !important;
  }
  .saegus-lp-jumbo-tile {
    padding: 1em !important;
  }
  .saegus-lp-special-layout .saegus-lp-layout {
    padding: .5em !important;
  }
  .saegus-lp-header-logo {
    justify-content: center !important;
  }
  app-tile-image {
    app-button {
      position: absolute;
      bottom: -1.5em;
      left: 1em;
      width: calc(100% - 2em);

      button {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-12 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-11 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-10 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-9 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-8 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-7 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-6 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-5 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-4 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-3 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-2 {
    width: #{(3 * 100 / 12) + '%'}
  };
  .col-1 {
    width: #{(12 * 100 / 12) + '%'}
  };

  // Timeline 
  .saegus-timeline::after {
    left: 0 !important;
  }
  .saegus-lp-tile--timeline-right::after {
    left: -3.5em !important;
    top: 50% !important;
  }
  .saegus-lp-tile--timeline-left::after {
    left: -3.5em !important;
    top: 50% !important;
  }
  .saegus-lp-tile--timeline-right::before {
    left: -3.5em !important;
    top: calc(50% - 0.4em) !important;
  }
  .saegus-lp-tile--timeline-left::before {
    left: -3.5em !important;
    top: calc(50% - 0.4em) !important;
  }
  .saegus-lp-padding-mobile {
    padding-left: 3em;
  }

  // Others
  .saegus-lp-body {
    text-align: center;
    p {
      text-align: center;
    }
  }
  .saegus-lp-header-logo {
    justify-content: center !important;
  }
  app-button {
    width: 100%;
    button {
      width: 100%;
    }
  }
  app-tile-image {
    app-button {
      position: absolute;
      bottom: -1.5em;
      left: 3em;
      width: calc(100% - 2em);
      button {
        width: 80%;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-12 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-11 {
    width: #{(11 * 100 / 12) + '%'}
  };
  .col-10 {
    width: #{(10 * 100 / 12) + '%'}
  };
  .col-9 {
    width: #{(9 * 100 / 12) + '%'}
  };
  .col-8 {
    width: #{(8 * 100 / 12) + '%'}
  };
  .col-7 {
    width: #{(7 * 100 / 12) + '%'}
  };
  .col-6 {
    width: #{(6 * 100 / 12) + '%'}
  };
  .col-5 {
    width: #{(5 * 100 / 12) + '%'}
  };
  .col-4 {
    width: #{(4 * 100 / 12) + '%'}
  };
  .col-3 {
    width: #{(3 * 100 / 12) + '%'}
  };
  .col-2 {
    width: #{(2 * 100 / 12) + '%'}
  };
  .col-1 {
    width: #{(1 * 100 / 12) + '%'}
  };

  // Timeline 
  .saegus-timeline::after {
    left: 50% !important;
  }
  .saegus-lp-tile--timeline-right::after {
    top: calc(50% + 0.4em) !important;
    left: calc(-50% - .5em) !important;
  }

  .saegus-lp-tile--timeline-left::after {
    top: calc(50% + 0.4em) !important;
    right: calc(-50% - .5em) !important;
  }

  .saegus-lp-tile--timeline-right::before {
    top: 50% !important;
    left: calc(-50% - .5em) !important;
  }

  .saegus-lp-tile--timeline-left::before {
    top: 50% !important;
    right: calc(-50% - .5em) !important;
  }
  .saegus-lp-layout {
    padding: 3em 3em !important;
  }
  app-tile-image {
    app-button {
      position: absolute;
      bottom: -1.5em;
      left: calc(50% - 4em);
    }
  }
}

@media (min-width: 1200px) {
  .col-12 {
    width: #{(12 * 100 / 12) + '%'}
  };
  .col-11 {
    width: #{(11 * 100 / 12) + '%'}
  };
  .col-10 {
    width: #{(10 * 100 / 12) + '%'}
  };
  .col-9 {
    width: #{(9 * 100 / 12) + '%'}
  };
  .col-8 {
    width: #{(8 * 100 / 12) + '%'}
  };
  .col-7 {
    width: #{(7 * 100 / 12) + '%'}
  };
  .col-6 {
    width: #{(6 * 100 / 12) + '%'}
  };
  .col-5 {
    width: #{(5 * 100 / 12) + '%'}
  };
  .col-4 {
    width: #{(4 * 100 / 12) + '%'}
  };
  .col-3 {
    width: #{(3 * 100 / 12) + '%'}
  };
  .col-2 {
    width: #{(2 * 100 / 12) + '%'}
  };
  .col-1 {
    width: #{(1 * 100 / 12) + '%'}
  };
  // Timeline 
  .saegus-timeline::after {
    left: 50% !important;
  }

  .saegus-lp-tile--timeline-right::after {
    top: calc(50% + 0.4em) !important;
    left: calc(-50% - .5em) !important;
  }

  .saegus-lp-tile--timeline-left::after {
    top: calc(50% + 0.4em) !important;
    right: calc(-50% - .5em) !important;
  }

  .saegus-lp-tile--timeline-right::before {
    top: 50% !important;
    left: calc(-50% - .5em) !important;
  }

  .saegus-lp-tile--timeline-left::before {
    top: 50% !important;
    right: calc(-50% - .5em) !important;
  }

  app-tile-image {
    app-button {
      position: absolute;
      bottom: -1.5em;
      left: calc(50% - 4em);
    }
  }
}